<h2 style="text-align: center;">Perfil de Beleza</h2>
<div><br /></div>


<form [formGroup]="reactiveForm" (ngSubmit)="submit()" >
  <mat-horizontal-stepper max-width="10">
    <mat-step *ngFor="let question of questions; let index = index; let last = last;">
      {{index}}
            <div><br /></div>

            <label for={{question.name}} class="control-label">{{question.question}}</label>
            
            <div><br /></div>
          
            <div>
                <label *ngFor="let option of question.options"> 
                  <input *ngIf="question.type === 2" type="checkbox" [value]=option.name (change)="onCheckboxChange($event, index, option)" [checked]="option.checked"> 
                  <input *ngIf="question.type === 1" type="radio" [value]=option.name [formControlName]=index required >
                    <img width="170px" src="https://minha.glambox.com.br/beautyprofile{{option.imageUrl.replace('.png', '.jpg')}}" alt={{option.name}}>
                </label>
            </div>

            <div><br /></div>

            <button *ngIf="index !== 0" matStepperPrevious class="btn btn-primary" type="button" (click)="prevStep(index)">Anterior</button>
            <button *ngIf="!last" matStepperNext class="btn btn-primary" type="button" [disabled]="!reactiveForm.at(index).valid" (click)="nextStep(index)">Próximo</button>
            <button *ngIf="last" class="btn btn-primary" [disabled]="!reactiveForm.valid" type="submit">Enviar</button>
    </mat-step>
  </mat-horizontal-stepper>
</form>

<div style="font-size: 12px;"> <br /> <br /> <br />
  <div>{{ reactiveForm.value | json}}</div>
  <div>{{ reactiveForm.valid | json }}</div>
  {{questions[2].options[3].checked}}
 
</div>
