@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body { 
    padding: 5px;
    font-family: 'Roboto', sans-serif;

   
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; 

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 3px solid #7087FE;
  }

  [type=checkbox] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=checkbox] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=checkbox]:checked + img {
    outline: 2px solid #7087FE;
  }

  .ng-star-inserted{
    padding-right: 10px;
  
    & span{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;  }

    & .mat-icon{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;  }
}

mat-step-header {
    max-width: 10px;
}

button {
    margin: 5px;
}